
services:
  postgres:
    image: "ghcr.io/ferretdb/postgres-documentdb:${POSTGRES_VERSION}"
    labels:
      komodo.skip:
    restart: unless-stopped
    volumes:
      - "postgres-data:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: "${KOMODO_DATABASE_USERNAME}"
      POSTGRES_PASSWORD: "${KOMODO_DATABASE_PASSWORD}"
      POSTGRES_DB: "postgres"
      TZ: "${TIMEZONE}"
    networks:
      - komodo

  ferretdb:
    image: "ghcr.io/ferretdb/ferretdb:${FERRETDB_VERSION}"
    labels:
      komodo.skip:
    restart: unless-stopped
    depends_on:
      - postgres
    volumes:
      - "ferretdb-state:/state"
    environment:
      FERRETDB_POSTGRESQL_URL: "postgres://${KOMODO_DATABASE_USERNAME}:${KOMODO_DATABASE_PASSWORD}@postgres:5432/postgres"
      TZ: "${TIMEZONE}"
    networks:
      - komodo

  core:
    image: "ghcr.io/moghtech/komodo-core:${KOMODO_CORE_VERSION}"
    labels:
      komodo.skip:
      caddy: ${KOMODO_HOST}
      caddy.reverse_proxy: "{{upstreams 9120}}"
      caddy.tls: internal
    restart: unless-stopped
    depends_on:
      - ferretdb
    ports:
      - "9120:9120"
    environment:
      KOMODO_DATABASE_ADDRESS: "ferretdb:27017"
    env_file:
      - .env
    volumes:
      - "${KOMODO_BACKUPS_PATH}:/backups"
      - "${KOMODO_SYNCS_PATH}:/syncs"
      - "${CERTIFICATES_PATH}:/usr/local/share/ca-certificates/"
    networks:
      - caddy
      - komodo

  periphery:
    image: "ghcr.io/moghtech/komodo-periphery:${KOMODO_PERIPHERY_VERSION}"
    labels:
      komodo.skip:
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/proc:/proc"
      - "${PERIPHERY_PATH}:${PERIPHERY_PATH}"
    networks:
      - komodo

volumes:
  postgres-data:
  ferretdb-state:

networks:
  komodo:
  caddy:
    external: true
