version: "3.9"

services:
  postgres:
    image: "ghcr.io/ferretdb/postgres-documentdb:${POSTGRES_VERSION}"
    labels:
      komodo.skip:
    restart: unless-stopped
    volumes:
      - "postgres-data:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: "${KOMODO_DB_USERNAME}"
      POSTGRES_PASSWORD: "${KOMODO_DB_PASSWORD}"
      POSTGRES_DB: "postgres"
      TZ: "${TIMEZONE}"

  ferretdb:
    image: "ghcr.io/ferretdb/ferretdb:${FERRETDB_VERSION}"
    labels:
      komodo.skip:
    restart: unless-stopped
    depends_on:
      - postgres
    volumes:
      - "ferretdb-state:/state"
    environment:
      FERRETDB_POSTGRESQL_URL: "postgres://${KOMODO_DB_USERNAME}:${KOMODO_DB_PASSWORD}@postgres:5432/postgres"
      TZ: "${TIMEZONE}"

  core:
    image: "ghcr.io/moghtech/komodo-core:${KOMODO_CORE_VERSION}"
    labels:
      komodo.skip:
    restart: unless-stopped
    depends_on:
      - ferretdb
    ports:
      - "9120:9120"
    environment:
      KOMODO_DATABASE_ADDRESS: "ferretdb:27017"
      KOMODO_DATABASE_USERNAME: "${KOMODO_DB_USERNAME}"
      KOMODO_DATABASE_PASSWORD: "${KOMODO_DB_PASSWORD}"
      TZ: "${TIMEZONE}"
      KOMODO_PASSKEY: "${KOMODO_PASSKEY}"
      KOMODO_HOST: "${KOMODO_HOST}"
      KOMODO_FIRST_SERVER: "${KOMODO_FIRST_SERVER}"
      KOMODO_WEBHOOK_SECRET: "${KOMODO_WEBHOOK_SECRET}"
      KOMODO_JWT_SECRET: "${KOMODO_JWT_SECRET}"
      KOMODO_JWT_TTL: "${KOMODO_JWT_TTL}"
      KOMODO_LOCAL_AUTH: "${KOMODO_LOCAL_AUTH}"
    volumes:
      - "${KOMODO_BACKUPS_PATH}:/backups"
      - "${KOMODO_SYNCS_PATH}:/syncs"

  periphery:
    image: "ghcr.io/moghtech/komodo-periphery:${KOMODO_PERIPHERY_VERSION}"
    labels:
      komodo.skip:
    restart: unless-stopped
    environment:
      TZ: "${TIMEZONE}"
      KOMODO_PASSKEY: "${KOMODO_PASSKEY}"
      PERIPHERY_ROOT_DIRECTORY: "${PERIPHERY_PATH}"
      PERIPHERY_PASSKEYS: "${KOMODO_PASSKEY}"
      PERIPHERY_SSL_ENABLED: "${PERIPHERY_SSL_ENABLED}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/proc:/proc"
      - "${PERIPHERY_PATH}:${PERIPHERY_PATH}"

volumes:
  postgres-data:
  ferretdb-state:
