#SPDX-License-Identifier: MIT-0
---
- name: Restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted

- name: Restart containerd
  become: true
  ansible.builtin.systemd:
    name: containerd
    state: restarted
    enabled: true

- name: Systemd daemon-reload
  become: true
  ansible.builtin.systemd:
    daemon_reload: true