
- name: Ensure watchdog package is installed
  ansible.builtin.apt:
    name: watchdog
    state: present
    update_cache: false
  become: true
  tags: [raspberry, watchdog]

- name: Enable watchdog device
  become: true
  ansible.builtin.lineinfile:
    path: /etc/watchdog.conf
    regexp: '^#?\s*watchdog-device'
    line: 'watchdog-device		= /dev/watchdog'
  notify: Restart watchdog
  tags: [raspberry, watchdog]

- name: Set watchdog interval
  become: true
  ansible.builtin.lineinfile:
    path: /etc/watchdog.conf
    regexp: '^#?\s*interval'
    line: 'interval		= 5'
  notify: Restart watchdog
  tags: [raspberry, watchdog]

- name: Enable max-load-1 check
  become: true
  ansible.builtin.lineinfile:
    path: /etc/watchdog.conf
    regexp: '^#?\s*max-load-1'
    line: 'max-load-1		= 24'
  notify: Restart watchdog
  tags: [raspberry, watchdog]

- name: Enable min-memory check
  become: true
  ansible.builtin.lineinfile:
    path: /etc/watchdog.conf
    regexp: '^#?\s*min-memory'
    line: 'min-memory		= 1'
  notify: Restart watchdog
  tags: [raspberry, watchdog]

- name: Ensure watchdog service is enabled and running
  become: true
  ansible.builtin.service:
    name: watchdog
    enabled: true
    state: started
  tags: [raspberry, watchdog]
