
- name: Ensure systemd manager drop-in dir exists
  become: true
  ansible.builtin.file:
    path: /etc/systemd/system.conf.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Configure systemd hardware watchdog
  become: true
  ansible.builtin.copy:
    dest: /etc/systemd/system.conf.d/50-watchdog.conf
    owner: root
    group: root
    mode: '0644'
    content: |
      [Manager]
      RuntimeWatchdogSec=15s
      ShutdownWatchdogSec=1min
  notify: Reload systemd manager

- name: Disable and mask legacy watchdog daemons
  become: true
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: false
    state: stopped
    masked: true
  loop:
    - watchdog
    - wd_keepalive
  ignore_errors: true   # in case package isn't installed
