---
- name: Apply baseline configuration to a new Raspberry Pi server after bootstrap
  hosts: home_lab_production
  become: true
  gather_facts: true
  roles:
    - debian-update
    - common
    - raspberry
    - debian_hardening
    - network
    - docker
    - komodo
  vars:
    ansible_skip_tags: reboot
    system_update_mode: "full"
    common_admin_groups:
      - adm
      - dialout
      - sudo
      - plugdev
      - netdev
      - docker
    common_install_tailscale: true
    common_admin_authorized_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICHvfORDLKCBFhwwviIAY2RtARl3LclLIEVE1r7JCVMl"
    hostname: "srvprod01"
    raspberry_disable_pi_user: true
    raspberry_expand_rootfs: false
    hardening_disable_services: ["bluetooth"]
    ssh_allow_groups: ["admin", "sudo"]
    ssh_permit_root_login: "no"
    ssh_password_auth: false
    ssh_kbdinteractive_auth: false
    ssh_pubkey_auth: true
    ssh_max_auth_tries: 3
    ssh_login_grace_time: "30s"
    ssh_client_alive_interval: 300
    ssh_client_alive_count_max: 2
    network_interface: "eth0"
    network_address: "192.168.1.128/24"
    network_gateway: "192.168.1.1"
    network_dns: ["127.0.0.1", "192.168.1.126"]
    komodo_deployment_directory: "/srv/komodo"
    komodo_postgres_version: "17-0.106.0-ferretdb-2.5.0"
    komodo_ferretdb_version: "2.5.0"
    komodo_core_version: "1.19.5"
    komodo_periphery_version: "1.19.5"
    komodo_host_url: "https://komodo.casa"
  vars_files:
    - ../inventory/group_vars/prod-vault.yaml

  tasks:
    - name: Trigger immediate reboot
      ansible.builtin.command: /sbin/reboot
      async: 1
      poll: 0
      become: true
